<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Advanced UI</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cropper</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Angular CropperJs</h4>
        <p class=“text-muted”>Read the <a href="https://github.com/matheusdavidson/angular-cropperjs" target="_blank"> Official Angular-CropperJs Documentation </a>for a full list of instructions and other options.</p>                  
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <div class="mb-3">
              <input class="form-control" type="file" id="cropperImageUpload" (change)="handleFileInput($event)">
            </div>
            <div>
              <angular-cropper #angularCropper [cropperOptions]="config" [imageUrl]="imageUrl"></angular-cropper>
            </div>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="d-flex align-items-center flex-wrapp me-2 mt-3">
                <button class="btn btn-primary crop mb-2 mb-md-0" (click)="cropImage()">Crop me</button>
              </div>
              <div class="mb-4 mb-md-0 mt-3">
                <a href="" class="btn btn-outline-primary download" download="imageName.png">Download croped image</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ms-auto">
            <h6 class="text-muted mb-3">Cropped Image: </h6>
            <img class="w-100 cropped-img mt-2" src="{{resultImage}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>