<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Form Grid</h6>
            <form [formGroup]="formGroup" (ngSubmit)="saveData()">
              <div class="row">
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" placeholder="Enter first name" formControlName="name" >
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control"  formControlName="email" >
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" formControlName="username"  placeholder="Enter city">
                  </div>
                </div><!-- Col -->
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">BirthDate</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                         formControlName="birthDate">
                     
                    </div>
                    
                  </div>
                </div><!-- Col -->
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" formControlName="numberPhone"  placeholder="Enter zip code">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->

              <div class="row">
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">Gender</label>
                    <ng-select #ngSelectGender [items]="genders"
                    bindLabel="name"
                    bindValue="id"
                    [searchable]="false"
                    [(ngModel)]="selectedGender"  [ngModelOptions]="{standalone: true}">
                  </ng-select>
                  </div>
                </div><!-- Col -->

                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">Language</label>
                    <ng-select #ngSelectLanguage [items]="languages"
                    bindLabel="name"
                    bindValue="id"
                    [searchable]="false"
                    [(ngModel)]="selectedLanguage"  [ngModelOptions]="{standalone: true}">
                  </ng-select>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->

              <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Roles</label>
                    <ng-select #ngSelectRoles
                    [items]="roles"
                    [multiple]=true
                    bindLabel="name"
                    [closeOnSelect]="false"
                    bindValue="id"
                    name="first"
                    [(ngModel)]="selectedRol" [ngModelOptions]="{standalone: true}">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"  [ngModelOptions]="{standalone: true}"/> {{item.name}}
                    </ng-template>
                  </ng-select>
                </div>
              </div><!-- Col -->

            

              <button type="submit" class="btn btn-primary submit">Save</button>

            </form>

             


        </div>
      </div>
    </div>
  </div>