<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title" *ngIf="this.id !== null">{{ 'USER_CONTROLLER.UPDATE_USER' | translate }}</h6>
          <h6 class="card-title" *ngIf="this.id === null">{{ 'USER_CONTROLLER.NEW_USER' | translate }}</h6>
            <form [formGroup]="formGroup" (ngSubmit)="saveData()">
              <div class="row">
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label class="form-label">{{ 'USER_CONTROLLER.NAME_FIRST' | translate }}</label>
                    <input type="text" class="form-control" placeholder="Enter first name" formControlName="name" required>
                    
                    <div
                      *ngIf="
                        formGroup.controls['name'].invalid &&
                        (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="formGroup.controls['name'].errors">
                        {{ 'USER_CONTROLLER.ERROR.REQUIRED_NAME' | translate }}
                      </div>
                    </div>
                  </div>
                </div><!-- Col -->
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label class="form-label">{{ 'USER_CONTROLLER.EMAIL' | translate }}</label>
                    <input type="email" class="form-control"  formControlName="email" required>
                      <div
                        *ngIf="
                          formGroup.controls['email'].invalid &&
                          (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)
                        "
                        class="alert alert-danger"
                      >
                        <div *ngIf="formGroup.controls['email'].errors">
                          {{ 'USER_CONTROLLER.ERROR.REQUIRED_EMAIL' | translate }}
                        </div>
                      </div>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->
              <div class="row">
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">{{ 'USER_CONTROLLER.USERNAME' | translate }}</label>
                    <input type="text" class="form-control" formControlName="username"  placeholder="Username" required>
                    <div
                      *ngIf="
                        formGroup.controls['username'].invalid &&
                        (formGroup.controls['username'].dirty || formGroup.controls['username'].touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="formGroup.controls['username'].errors">
                        {{ 'USER_CONTROLLER.ERROR.REQUIRED_USERNAME' | translate }}
                      </div>
                    </div>




                  </div>
                </div><!-- Col -->
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">{{ 'USER_CONTROLLER.BIRTHDATE' | translate }}</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                         formControlName="birthDate">
                     
                    </div>
                    
                  </div>
                </div><!-- Col -->
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">{{ 'USER_CONTROLLER.PHONE' | translate }}</label>
                    <input type="text" class="form-control" formControlName="numberPhone"  placeholder="Enter zip code">
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->

              <div class="row">
                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">{{ 'USER_CONTROLLER.GENDER' | translate }}</label>
                    <ng-select #ngSelectGender [items]="genders"
                    bindLabel="name"
                    bindValue="id"
                    [searchable]="false"
                    [(ngModel)]="selectedGender"  [ngModelOptions]="{standalone: true}">
                  </ng-select>
                  </div>
                </div><!-- Col -->

                <div class="col-sm-4">
                  <div class="mb-3">
                    <label class="form-label">{{ 'USER_CONTROLLER.LANGUAGE' | translate }}</label>
                    <ng-select #ngSelectLanguage [items]="languages"
                    bindLabel="name"
                    bindValue="id"
                    [searchable]="false"
                    [(ngModel)]="selectedLanguage"  [ngModelOptions]="{standalone: true}">
                  </ng-select>
                  </div>
                </div><!-- Col -->
              </div><!-- Row -->

              <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">{{ 'USER_CONTROLLER.ROLES' | translate }}</label>
                    <ng-select #ngSelectRoles
                    [items]="roles"
                    [multiple]=true
                    bindLabel="name"
                    [closeOnSelect]="false"
                    bindValue="id"
                    name="first"
                    [(ngModel)]="selectedRol" [ngModelOptions]="{standalone: true}">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"  [ngModelOptions]="{standalone: true}"/> {{item.name}}
                    </ng-template>
                  </ng-select>
                </div>
              </div><!-- Col -->

              <button type="button" class="btn btn-danger m-2" (click)="regresar()">{{ 'BACK' | translate }}</button>
              <button  type="submit" class="btn btn-primary submit" [disabled]="!formGroup.valid || !permit">{{ 'SAVE' | translate }}</button>
            </form>

             


        </div>
      </div>
    </div>
  </div>