<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Icons</a></li>
    <li class="breadcrumb-item active" aria-current="page">Feather icons</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Feather Icons</h6>
        <p class="text-muted mb-3">Visit the <a href="https://feathericons.com/" target="_blank"> Official Feather Icons Documentation </a>.</p>

        <div class="d-flex align-items-center mb-2">
          <p class="ltr">Usage example: &lt;i class="feather icon-gift"&gt;&lt;/i&gt;</p> 
          <i class="feather icon-gift text-primary icon-md ms-2"></i>
        </div>

        <div class="d-flex align-items-center mb-3">
          <p class="ltr">Usage example (svg) : &lt;i data-feather="gift" appFeatherIcon&gt;&lt;/i&gt;</p> 
          <i class="icon-md ms-2 text-primary" data-feather="gift" appFeatherIcon></i>
        </div>

        <div class="container">
          <div class="icons-list row">
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="activity" appFeatherIcon></i> activity </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="airplay" appFeatherIcon></i> airplay </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="alert-circle" appFeatherIcon></i> alert-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="alert-octagon" appFeatherIcon></i> alert-octagon </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="alert-triangle" appFeatherIcon></i> alert-triangle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="align-center" appFeatherIcon></i> align-center </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="align-justify" appFeatherIcon></i> align-justify </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="align-left" appFeatherIcon></i> align-left </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="align-right" appFeatherIcon></i> align-right </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="anchor" appFeatherIcon></i> anchor </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="aperture" appFeatherIcon></i> aperture </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="archive" appFeatherIcon></i> archive </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-down-circle" appFeatherIcon></i> arrow-down-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-down-left" appFeatherIcon></i> arrow-down-left </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-down-right" appFeatherIcon></i> arrow-down-right </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-down" appFeatherIcon></i> arrow-down </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-left-circle" appFeatherIcon></i> arrow-left-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-left" appFeatherIcon></i> arrow-left </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-right-circle" appFeatherIcon></i> arrow-right-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-right" appFeatherIcon></i> arrow-right </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-up-circle" appFeatherIcon></i> arrow-up-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-up-left" appFeatherIcon></i> arrow-up-left </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-up-right" appFeatherIcon></i> arrow-up-right </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="arrow-up" appFeatherIcon></i> arrow-up </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="at-sign" appFeatherIcon></i> at-sign </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="award" appFeatherIcon></i> award </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="bar-chart-2" appFeatherIcon></i> bar-chart-2 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="bar-chart" appFeatherIcon></i> bar-chart </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="battery-charging" appFeatherIcon></i> battery-charging </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="battery" appFeatherIcon></i> battery </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="bell-off" appFeatherIcon></i> bell-off </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="bell" appFeatherIcon></i> bell </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="bluetooth" appFeatherIcon></i> bluetooth </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="bold" appFeatherIcon></i> bold </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="book-open" appFeatherIcon></i> book-open </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="book" appFeatherIcon></i> book </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="bookmark" appFeatherIcon></i> bookmark </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="box" appFeatherIcon></i> box </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="briefcase" appFeatherIcon></i> briefcase </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="calendar" appFeatherIcon></i> calendar </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="camera-off" appFeatherIcon></i> camera-off </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="camera" appFeatherIcon></i> camera </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="cast" appFeatherIcon></i> cast </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="check-circle" appFeatherIcon></i> check-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="check-square" appFeatherIcon></i> check-square </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="check" appFeatherIcon></i> check </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="chevron-down" appFeatherIcon></i> chevron-down </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="chevron-left" appFeatherIcon></i> chevron-left </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="chevron-right" appFeatherIcon></i> chevron-right </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="chevron-up" appFeatherIcon></i> chevron-up </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="chevrons-down" appFeatherIcon></i> chevrons-down </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="chevrons-left" appFeatherIcon></i> chevrons-left </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="chevrons-right" appFeatherIcon></i> chevrons-right </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="chevrons-up" appFeatherIcon></i> chevrons-up </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="chrome" appFeatherIcon></i> chrome </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="clipboard" appFeatherIcon></i> clipboard </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="clock" appFeatherIcon></i> clock </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="cloud-drizzle" appFeatherIcon></i> cloud-drizzle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="cloud-lightning" appFeatherIcon></i> cloud-lightning </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="cloud-off" appFeatherIcon></i> cloud-off </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="cloud-rain" appFeatherIcon></i> cloud-rain </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="cloud-snow" appFeatherIcon></i> cloud-snow </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="cloud" appFeatherIcon></i> cloud </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="code" appFeatherIcon></i> code </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="codepen" appFeatherIcon></i> codepen </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="codesandbox" appFeatherIcon></i> codesandbox </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="coffee" appFeatherIcon></i> coffee </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="columns" appFeatherIcon></i> columns </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="command" appFeatherIcon></i> command </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="compass" appFeatherIcon></i> compass </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="copy" appFeatherIcon></i> copy </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="corner-down-left" appFeatherIcon></i> corner-down-left </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="corner-down-right" appFeatherIcon></i> corner-down-right </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="corner-left-down" appFeatherIcon></i> corner-left-down </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="corner-left-up" appFeatherIcon></i> corner-left-up </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="corner-right-down" appFeatherIcon></i> corner-right-down </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="corner-right-up" appFeatherIcon></i> corner-right-up </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="corner-up-left" appFeatherIcon></i> corner-up-left </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="corner-up-right" appFeatherIcon></i> corner-up-right </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="cpu" appFeatherIcon></i> cpu </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="credit-card" appFeatherIcon></i> credit-card </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="crop" appFeatherIcon></i> crop </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="crosshair" appFeatherIcon></i> crosshair </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="database" appFeatherIcon></i> database </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="delete" appFeatherIcon></i> delete </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="disc" appFeatherIcon></i> disc </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="dollar-sign" appFeatherIcon></i> dollar-sign </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="download-cloud" appFeatherIcon></i> download-cloud </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="download" appFeatherIcon></i> download </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="droplet" appFeatherIcon></i> droplet </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="edit-2" appFeatherIcon></i> edit-2 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="edit-3" appFeatherIcon></i> edit-3 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="edit" appFeatherIcon></i> edit </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="external-link" appFeatherIcon></i> external-link </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="eye-off" appFeatherIcon></i> eye-off </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="eye" appFeatherIcon></i> eye </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="facebook" appFeatherIcon></i> facebook </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="fast-forward" appFeatherIcon></i> fast-forward </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="feather" appFeatherIcon></i> feather </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="figma" appFeatherIcon></i> figma </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="file-minus" appFeatherIcon></i> file-minus </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="file-plus" appFeatherIcon></i> file-plus </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="file-text" appFeatherIcon></i> file-text </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="file" appFeatherIcon></i> file </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="film" appFeatherIcon></i> film </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="filter" appFeatherIcon></i> filter </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="flag" appFeatherIcon></i> flag </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="folder-minus" appFeatherIcon></i> folder-minus </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="folder-plus" appFeatherIcon></i> folder-plus </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="folder" appFeatherIcon></i> folder </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="frown" appFeatherIcon></i> frown </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="gift" appFeatherIcon></i> gift </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="git-branch" appFeatherIcon></i> git-branch </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="git-commit" appFeatherIcon></i> git-commit </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="git-merge" appFeatherIcon></i> git-merge </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="git-pull-request" appFeatherIcon></i> git-pull-request </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="github" appFeatherIcon></i> github </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="gitlab" appFeatherIcon></i> gitlab </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="globe" appFeatherIcon></i> globe </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="grid" appFeatherIcon></i> grid </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="hard-drive" appFeatherIcon></i> hard-drive </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="hash" appFeatherIcon></i> hash </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="headphones" appFeatherIcon></i> headphones </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="heart" appFeatherIcon></i> heart </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="help-circle" appFeatherIcon></i> help-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="hexagon" appFeatherIcon></i> hexagon </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="home" appFeatherIcon></i> home </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="image" appFeatherIcon></i> image </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="inbox" appFeatherIcon></i> inbox </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="info" appFeatherIcon></i> info </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="instagram" appFeatherIcon></i> instagram </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="italic" appFeatherIcon></i> italic </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="key" appFeatherIcon></i> key </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="layers" appFeatherIcon></i> layers </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="layout" appFeatherIcon></i> layout </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="life-buoy" appFeatherIcon></i> life-buoy </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="link-2" appFeatherIcon></i> link-2 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="link" appFeatherIcon></i> link </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="linkedin" appFeatherIcon></i> linkedin </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="list" appFeatherIcon></i> list </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="loader" appFeatherIcon></i> loader </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="lock" appFeatherIcon></i> lock </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="log-in" appFeatherIcon></i> log-in </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="log-out" appFeatherIcon></i> log-out </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="mail" appFeatherIcon></i> mail </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="map-pin" appFeatherIcon></i> map-pin </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="map" appFeatherIcon></i> map </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="maximize-2" appFeatherIcon></i> maximize-2 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="maximize" appFeatherIcon></i> maximize </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="minus-circle" appFeatherIcon></i> minus-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="minus-square" appFeatherIcon></i> minus-square </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="minus" appFeatherIcon></i> minus </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="monitor" appFeatherIcon></i> monitor </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="moon" appFeatherIcon></i> moon </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="more-horizontal" appFeatherIcon></i> more-horizontal </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="more-vertical" appFeatherIcon></i> more-vertical </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="mouse-pointer" appFeatherIcon></i> mouse-pointer </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="move" appFeatherIcon></i> move </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="music" appFeatherIcon></i> music </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="navigation-2" appFeatherIcon></i> navigation-2 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="navigation" appFeatherIcon></i> navigation </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="octagon" appFeatherIcon></i> octagon </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="package" appFeatherIcon></i> package </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="paperclip" appFeatherIcon></i> paperclip </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="pause-circle" appFeatherIcon></i> pause-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="pause" appFeatherIcon></i> pause </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="pen-tool" appFeatherIcon></i> pen-tool </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="percent" appFeatherIcon></i> percent </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="phone-call" appFeatherIcon></i> phone-call </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="phone-forwarded" appFeatherIcon></i> phone-forwarded </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="phone-incoming" appFeatherIcon></i> phone-incoming </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="phone-missed" appFeatherIcon></i> phone-missed </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="phone-off" appFeatherIcon></i> phone-off </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="phone-outgoing" appFeatherIcon></i> phone-outgoing </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="phone" appFeatherIcon></i> phone </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="pie-chart" appFeatherIcon></i> pie-chart </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="play-circle" appFeatherIcon></i> play-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="play" appFeatherIcon></i> play </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="plus-circle" appFeatherIcon></i> plus-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="plus-square" appFeatherIcon></i> plus-square </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="plus" appFeatherIcon></i> plus </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="pocket" appFeatherIcon></i> pocket </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="power" appFeatherIcon></i> power </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="printer" appFeatherIcon></i> printer </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="radio" appFeatherIcon></i> radio </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="refresh-ccw" appFeatherIcon></i> refresh-ccw </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="rotate-cw" appFeatherIcon></i> rotate-cw </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="rss" appFeatherIcon></i> rss </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="save" appFeatherIcon></i> save </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="scissors" appFeatherIcon></i> scissors </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="search" appFeatherIcon></i> search </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="send" appFeatherIcon></i> send </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="server" appFeatherIcon></i> server </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="settings" appFeatherIcon></i> settings </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="share-2" appFeatherIcon></i> share-2 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="share" appFeatherIcon></i> share </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="shield-off" appFeatherIcon></i> shield-off </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="shield" appFeatherIcon></i> shield </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="shopping-bag" appFeatherIcon></i> shopping-bag </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="shopping-cart" appFeatherIcon></i> shopping-cart </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="shuffle" appFeatherIcon></i> shuffle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="sidebar" appFeatherIcon></i> sidebar </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="skip-back" appFeatherIcon></i> skip-back </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="skip-forward" appFeatherIcon></i> skip-forward </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="slack" appFeatherIcon></i> slack </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="slash" appFeatherIcon></i> slash </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="sliders" appFeatherIcon></i> sliders </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="smartphone" appFeatherIcon></i> smartphone </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="smile" appFeatherIcon></i> smile </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="speaker" appFeatherIcon></i> speaker </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="square" appFeatherIcon></i> square </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="star" appFeatherIcon></i> star </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="stop-circle" appFeatherIcon></i> stop-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="sun" appFeatherIcon></i> sun </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="sunrise" appFeatherIcon></i> sunrise </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="sunset" appFeatherIcon></i> sunset </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="table" appFeatherIcon></i> table </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="tablet" appFeatherIcon></i> tablet </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="tag" appFeatherIcon></i> tag </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="target" appFeatherIcon></i> target </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="terminal" appFeatherIcon></i> terminal </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="thermometer" appFeatherIcon></i> thermometer </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="thumbs-down" appFeatherIcon></i> thumbs-down </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="thumbs-up" appFeatherIcon></i> thumbs-up </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="toggle-left" appFeatherIcon></i> toggle-left </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="toggle-right" appFeatherIcon></i> toggle-right </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="trash-2" appFeatherIcon></i> trash-2 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="trash" appFeatherIcon></i> trash </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="trello" appFeatherIcon></i> trello </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="trending-down" appFeatherIcon></i> trending-down </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="trending-up" appFeatherIcon></i> trending-up </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="triangle" appFeatherIcon></i> triangle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="truck" appFeatherIcon></i> truck </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="tv" appFeatherIcon></i> tv </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="twitter" appFeatherIcon></i> twitter </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="type" appFeatherIcon></i> type </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="umbrella" appFeatherIcon></i> umbrella </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="underline" appFeatherIcon></i> underline </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="unlock" appFeatherIcon></i> unlock </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="upload-cloud" appFeatherIcon></i> upload-cloud </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="upload" appFeatherIcon></i> upload </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="user-check" appFeatherIcon></i> user-check </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="user-plus" appFeatherIcon></i> user-plus </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="user-minus" appFeatherIcon></i> user-minus </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="user-x" appFeatherIcon></i> user-x </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="user" appFeatherIcon></i> user </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="users" appFeatherIcon></i> users </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="video-off" appFeatherIcon></i> video-off </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="video" appFeatherIcon></i> video </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="voicemail" appFeatherIcon></i> voicemail </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="volume-1" appFeatherIcon></i> volume-1 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="volume-2" appFeatherIcon></i> volume-2 </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="volume-x" appFeatherIcon></i> volume-x </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="volume" appFeatherIcon></i> volume </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="watch" appFeatherIcon></i> watch </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="wifi-off" appFeatherIcon></i> wifi-off </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="wifi" appFeatherIcon></i> wifi </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="wind" appFeatherIcon></i> wind </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="x-circle" appFeatherIcon></i> x-circle </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="x-octagon" appFeatherIcon></i> x-octagon </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="x-square" appFeatherIcon></i> x-square </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="x" appFeatherIcon></i> x </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="youtube" appFeatherIcon></i> youtube </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="zap-off" appFeatherIcon></i> zap-off </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="zap" appFeatherIcon></i> zap </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="zoom-in" appFeatherIcon></i> zoom-in </div>
            <div class="col-sm-6 col-md-4 col-lg-3"> <i data-feather="zoom-out" appFeatherIcon></i> zoom-out </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>