<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a routerLink=".">{{ 'PRODUCT_CONTROLLER.TITLE' | translate }}</a></li>
    </ol>
  </nav>
  <div class="row justify-content-end">
    <div class="col-12 col-lg-2 col-xl-2 col-xxl-2 col-md-3 m-2">
        <button type="button" routerLink="/products/insert-product" class="btn btn-primary btn-icon-text float-end" [disabled]="!permit">
          <i class="feather icon-check-square btn-icon-prepend"></i>
          {{ 'PRODUCT_CONTROLLER.NUEVO_BOTON' | translate }} 
        </button>
    </div>
   
  </div>
  

  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{ 'PRODUCT_CONTROLLER.REGISTERED' | translate }}</h6>
          <p class="card-info">
            <i class="mdi mdi-information"></i>
            <i>{{ 'PRODUCT_CONTROLLER.INFO' | translate }}</i>
          </p>

          <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="table-responsive">

              <div class="dataTable-top justify-content betwent">
                <div class="dataTable-dropdown">
                  <label>
                    <select class="dataTable-selector"  (change)="onChange($event)">
                      <option value="5" selected>5</option>
                      <option value="10" >10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                    </select> entries per page
                  </label>
                  </div>
                  <div class="dataTable-search">
                    <input class="dataTable-input" placeholder="Search..." type="text">
                  </div>
              </div>
              
              <div class="dataTable-container">
                <table id="dataTableExample" class="table" *ngIf="productResponseDTO.dataLength">
              
                  <thead>
                    <tr >
                      <th></th>
                      <th>{{ 'PRODUCT_CONTROLLER.NAME' | translate }}</th>
                      <th>{{ 'PRODUCT_CONTROLLER.DESCRIPTION' | translate }}</th>
                      <th>{{ 'PRODUCT_CONTROLLER.CREATED_BY' | translate }}</th>
                      <th>{{ 'PRODUCT_CONTROLLER.UPDATE_DATE' | translate }}</th>
                      <th>{{ 'PRODUCT_CONTROLLER.PRICE_UNIT' | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of productResponseDTO.dataList"  style="vertical-align: baseline;">
                      <td class=" align-items-center justify-content-center">
                        <div class="  align-items-center justify-content-center ">
                          <img class="img-xs rounded-circle" [src]="item.picture  | Imagen: img_rute" ngbTooltip="{{item.description}}" >
                          <!-- <img class="img-xs rounded-circle" src="https://via.placeholder.com/30x30" placement="top"  ngbTooltip="{{item.description}}"> -->
                        </div>
                      </td>
                      <td>{{item.name}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.user.name}}</td>
                      <td>{{ item.update_date | date:'short' }}</td>
                      <td>${{item.price}}</td>
                      <td>
                       
                      </td>
                      <td class=" align-items-center justify-content-center">
                        <button type="button" (click)="deleteItem(item)" [disabled]="!permit" class="btn btn-danger btn-sm btn-icon" placement="top" ngbTooltip="{{ 'DELETE' | translate }}" >
                            <i class="mdi mdi-delete-forever"></i>
                          </button>
                          <button type="button" (click)="updateItem(item)" class="btn btn-primary btn-sm btn-icon m-2" placement="top" ngbTooltip="{{ 'EDIT' | translate }}">
                            <i class="feather icon-edit"></i>
                          </button>
                        
                      </td>
                    </tr>
                   
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
  
              <div class="dataTable-bottom">
                <div class="dataTable-info">
                  <span *ngIf="productResponseDTO.dataLength">

                  </span>
                  Page {{this.numberPage+1}} of {{productResponseDTO.totalPages}} 
                </div>
                <nav class="dataTable-pagination">
                  <ul class="dataTable-pagination-list">
                    <li class="{{this.numberPage == item? 'active': ''}}" *ngFor="let item of numbers; let i = index" ><a (click)="changePage(item)" data-page="item">{{item+1}}</a></li>
                    <li class="pager"><a data-page="2">›</a></li>
                  </ul>
                </nav>
              </div>
             
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>